// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
@import "bower_components/animate-sass/_animate.scss";
@import "bower_components/slick-carousel/slick/slick.scss";
// @import "bower_components/slick-carousel/slick/slick-theme.scss";
// endbower


@font-face {
  font-family: 'henrididot';
  src: url('../fonts/HenriDidot.otf');
}

html {
    position: relative;
    z-index: -1;
}

.admin-a-title {
    font-size: 55px;
    font-family: 'henrididot', sans-serif;
    color: #000;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;
    letter-spacing: 5px;
}

.a-col {
    position: relative;
    .a-col-inner:hover {
        .a-links-control, &:after {
            opacity: 1;
        }
    }   
    .a-links-control :last-child {
        margin-right: 0;
    }
    .a-col-inner.overlay:after {
        opacity: 1;
    }
    .a-col-inner:after {
        content: " ";
        position: absolute;
        top: 0;
        right: 7px;
        bottom: 7px;
        left: 0;
        background: rgba(0,0,0,.5);
        z-index: 5;
        opacity: 0;
        transition: .5;
    }
    .a-col-inner:hover {
        // > .add-a-form.target-user-form {
        //     display: block;
        // }
    }
    .add-a-form.target-user-form {
        left: -10px;
        top: 150px;
    }
}

.a-col-inner.overlay {
    .a-links-control {
        opacity: 1;
    }
    .target-user-form {
        display: block;
        opacity: 1;
    }
}

.a-col-inner:hover .a-links-control {
    opacity: 1;
}

.a-links-control {
    position: absolute;
    top: 50%;
    margin-top: -8px;
    z-index: 6;
    width: calc(100% - 7px);
    text-align: center;
    opacity: 0;
    transition: .3s;
    a {
        color: #fff;
        display: inline-block;
        margin-right: 7px;
        font-size: 16px;
        line-height: .9;
    }
}

.a-box:hover .a-links-control {
     opacity: 1;  
}

.admin-a-wrap {
    position: relative;
    overflow: hidden;
    padding-bottom: 500px;
    &:before {
        content: " ";
        width: 300px;
        height: 131px;
        background: #fff;
        position: absolute;
        z-index: 3000;
    }
}

.admin-a {
    // border-top: 1px solid #000;
    // border-bottom: 1px solid #000;
    justify-content: flex-start;
    padding-top: 7px;
    padding-left: 7px;
    padding-right: 7px;
    // padding-right: 5px;
    margin-bottom: 0;
    position: relative;
    &:after {
        content: " ";
        background: #fff;
        height: 131px;
        width: 300px;
        right: -301px;
        top: 0;
        position: absolute;
    }
    .flex-col-1-12 {
        width: auto;
        display: flex;
        max-width: 450px;
        padding-right: 7px;
        // width: 14.2857142857143%;
        width: 12.5%;
        padding-bottom: 7px;
    }
    .img-responsive {
        max-height: 150px;
        width: 100%;
    }
}

.a-box {
    position: relative;
}

.a-add-inner, .success-details-inner {
    position: relative;
}

.add-a-form {
    position: absolute !important;
    // padding: 10px;
    background: #fff;
    width: 300px;
    top: 50px;
    left: -16px;
    display: none;
    .add-a-form-inner {
        position: relative;
        box-shadow: 0 0 15px 0 rgba(0,0,0,.2);
        background: #fff;
        z-index: 10;
    }
    h3 {
        border-bottom: 2px solid #696969;
        padding: 15px 0;
        margin-top: 0;
        color: #696969;
        text-align: center;
    }
    button[type="submit"] {
        background: #6db4dc;
        width: 100%;
        margin-left: -20px;
        margin-right: -20px;
        position: relative;
        color: white;
        // bottom: -10px;
        border: none;
        padding: 10px 0;
        font-weight: bold;
        border-top: 2px solid #ececec;
    }
    input[type='file'] {
      padding-top: 20px;
      padding-left: 15px;
      padding-right: 0;
      margin: 0;
    }
    &:before {
        content: " ";
        position: absolute;
        top: 0;
        box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
        left: 15px;
        top: -10px;
        width: 30px;
        height: 30px;
        z-index: 5;
        transform: rotate(45deg);
    }
    &:after {
        content: " ";
        position: absolute;
        top: 0;
        left: 15px;
        top: -8px;
        width: 30px;
        height: 30px;
        z-index: 15;
        background: white;
        transform: rotate(45deg);
    }
    .add-a-form-body {
        padding: 10px 0;
        input[type="text"] {
            width: 90%;
            margin: auto;
            padding: 0 10px;
            line-height: 35px;
        }
    }
    &.target-user-form {
        opacity: 0;
        display: none;
        button[type="submit"] {
            margin-left: 0;
            margin-right: 0;
        }
    }
}

.flex-grid.admin-success {
    display: flex;
    justify-content: flex-start;
    .flex-col-1-7 {
        width: 14.2857142857143%;
        display: flex;
        @media screen and (max-width: $screen-md) {
            width: 25%;
        }
        @media screen and (max-width: $screen-md) {
            width: 50%;
        }
    }
    border: 1px solid #dae2f4;
    border-bottom: 0;
    border-right: 0;
}

.item.success-item {
    border-bottom: 1px solid #dae2f4;
    border-right: 1px solid #dae2f4;
    border-left: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .img-responsive {
        min-height: 165px;
        width: 100%;
    }
    a {
        width: 100%;
    }
    &.filled:before {
        border-color: transparent;
    }
    &.filled:after {
        content: attr(data-num);
        top: 0;
        left: 0;
        right: auto;
        bottom: auto;
        opacity: 1;
        color: #dae2f4;
        border-radius: 0;
        background: #fafcff;
    }
    &:before {
        content: " ";
        position: absolute;
        top: -2px; bottom: -2px;
        right: -2px; left: -2px;
        border: 5px solid #01B2FA;
        border-radius: 3px;
        opacity: 0;
        transition: .3s;
    }
    &:after {
        content: "\f067";
        font: normal normal normal 14px/1 FontAwesome;
        position: absolute;
        bottom: 0;
        right: 0;
        background: #01B2FA;
        color: #fff;
        padding: 5px;
        border-radius: 5px 0 0 0;
        opacity: 0;
        transition: .3s;
    }
    &:hover {
        cursor: pointer;
        &:before, &:after {
            opacity: 1;
        }
    }
}

.day-number {
    display: inline-block;
    width: 100%;
    font-size: 80px;
    color: #dae2f4;
    margin: 25px 0;
    text-align: center;
}

.more-days {
    font-size: 14px;
    span {
        padding: 50px 0;
    }
    &:after, &:before {
        display: none;
    }
    &:hover {
        color: #01B2FA;
    }
}

.admin-success-nav-wrap {
    display: flex;
    justify-content: center;
    line-height: 70px;
}

.admin-success-nav {
    text-transform: uppercase;
    a {
        color: #020202;
        &:focus, &:hover {
            color: #020202;
        }
        display: inline-block;
        padding: 0 50px;
        @media screen and (max-width: $screen-xs) {
            padding: 0 20px;
        }
        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }
    }
}

.success-details {
    position: absolute;
    width: 250px;
    display: none;
    background: #fff;
    top: -10px;
    z-index: 20;
    right: -170px;
    img {
        width: 230px;
        height: auto;
        margin: 0 10px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    p {
        margin: 0 10px 10px 20px;
        // padding-bottom: 10px;
    }
}

.success-details-inner {
    box-shadow: 0 0 15px 0 rgba(0,0,0,.2);
    text-align: center;
    padding-bottom: 10px;
    a {
        font-size: 20px;
        margin-left: 10px;
        color: #ccc;
        padding-bottom: 10px;
        // display: inline-block;
        &:first-of-type {
            margin-left: 0;
        }
        &:focus, &:hover {
            color: black;
        }
    }
}

p.close-container {
    text-align: right;
    margin-bottom: 0;
}

.close-details {
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 20px;
    & {
        color: #ccc;
        transition: .3s;
        &:hover {
            color: #000;
        }
    }
}

.target-user-form {
    h3 {
        margin-bottom: 0;
        position: relative;
        z-index: 100;
    }
    .add-a-form-body {
        padding-top: 0;
    }
    &.add-a-form:after {
        z-index: 9;
    }
    display: none;
}

.top-checkbox-area, .checkbox-row {
    padding: 10px 5%;
}

.checkbox-row {
    b {
        padding-right: 10px;
    }
}

.target-form-add-circle {
    color: #a8a6a7;
    transition: .3s;
    border: 1px solid #a8a6a7;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: inline-block;
    text-align: center;
    margin-left: 10px;
    &:hover {
        color: #000;
        border-color: #000;
    }
}

.text-right {
    text-align: right;
}

.admin-members {
    .members-dropdowns {
        margin: 0 10%;
        .btn .caret {
            margin-left: 5px;
        }
        .btn-default {
            font-size: 18px;
            border: none;
            color: #959fbc;
            &:link, &:focus, &:hover, &:active, &:visited{
                background: none;
                color: #47b3f8;
                outline: none;
                box-shadow: none;
                background: none;
            }
        }
        .dropdown-menu {
            width: 100%;
            border: none;
            text-align: center;
            a {
                color: #8995b5;
                padding: 10px 0;
                font-size: 18px;
            }
        }
    }
    .members-select {
        margin: 0 10%;
        select {
            width: 100%;
            background: white;
            margin: 0 10px;
            border: 1px solid #d7e1f5;
            padding: 7px 0 7px 5px;
        }
        .flex-col-4 {
            padding: 0 10px;
        }
    }
    .admin-members-search {
        margin: 0 20%;
        position: relative;
        input {
            width: 100%;
            padding: 10px 50px 10px 10px;
            border: 1px solid #d7e1f5;
            box-shadow: 0 0 3px 0 rgba(0,0,0,.1);
            margin-bottom: 30px;
        }
        button {
            border: 1px solid #22a0f5;
            color: #22a0f5;
            background: none;
            position: absolute;
            z-index: 20;
            right: 5px;
            top: 4px;
            line-height: 30px;
            border-radius: 3px;
            transition: .3s;
            &:hover {
                color: #959fbc;
                border-color: #959fbc;
            }
        }
    }
    .members-heading {
        .flex-grid {
            margin-bottom: 30px;
        }
        a {
            color: #8d8d8d;
            transition: .3s;
            font-size: 22px;
            &:hover {
                color: #95a1be;
                text-decoration: none;
            }
        }
    }
    .dropdown button {
        width: 100%;
    } 
    .member-item {
        border-top: 2px solid #000;
        // padding: 10px 0 15px 0;
        text-align: center;
        position: relative;
        margin-bottom: 15px;
        transition: .3s;
        box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.12), 1px 0 2px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
        &:hover {
          transform: scale(1.05);
          box-shadow: -2px 0 2px 0 rgba(0, 0, 0, 0.16), 2px 0 2px 0 rgba(0, 0, 0, 0.16), 0 2px 2px 0 rgba(0, 0, 0, 0.23);
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            font-size: 18px;
        }
        li {
            padding: 7px 0;
            border-top: 1px solid #ddd;
            border-right: 1px solid #ddd;
            margin-right: 6%;
            &:first-child {
              border-top: none;
            }
            a {
              color: #afbfe1;
              font-size: 14px;
            }
        }
    }
    .member-item-checkbox input[type="checkbox"] {
        position: absolute;
        top: 50%;
        margin-top: -20px;
        right: 10px;
        height: 40px;
        width: 40px;
        background: none;
        border: 1px solid #000;
        border-radius: 0;
    }
    .members-load-more {
        padding: 10px 0;
        margin-bottom: 10px;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        text-align: center;
        button {
            display: inline-block;
            background: transparent;
            border: none;
            color: #000;
            text-transform: uppercase;
            font-weight: bold;
            font-family: 'henrididot', sans-serif;
            letter-spacing: 5px;
            line-height: 1;
            transition: .3s;
            &:hover {
                color: #95a1be;
            }
        }
    }
}

.open > .btn-default.dropdown-toggle {
    background: transparent !important;
}

.dropdown.open {
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.dropdown-menu {
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.open .dropdown-menu {
    margin-top: 0;
    padding-top: 0;
}

.admin-a-inner {
    position: relative;
    border: 1px solid #000;
    margin: 0 300px;
}

.add-a {
    position: absolute;
    height: 24px;
    top: 50%;
    margin-top: -12px;
    cursor: pointer;
    width: 23px;
    border: 2px solid #777;
    // right: -30px;
    text-align: center;
    border-radius: 50%;
    line-height: 22px;
    color: #000;
    right: -30px;
    color: #777;
    transition: .3s;
    &:focus, &:hover {
        color: #000;
        border-color: #000;
    }
}

.flex-col-4 {
    width: 33.3333333333333%;
}

.slick-dots li {
    background: black;
    border-radius: 50%;
    &.slick-active {
        background: green;
    }
}

.slick-list {
    overflow: visible;
}

