extends layouts/admin
block content
  mixin targetForm
    form.add-a-form.target-user-form(action='', method='post')
      .add-a-form-inner
        h3 Target Specific Users.
        .add-a-form-body
          .top-checkbox-area
            label.checkbox-inline
              input#add-a-noncustmer(type='checkbox', name='add-a-noncustomr', placeholder='edit link')
              | Non-Customers
            label.checkbox-inline
              input#customer(type="checkbox", name="add-a-customer", placeholder="upload file")
              | Customers.
          .checkbox-row
            b Gender
            label.checkbox-inline
              input#customer(type="checkbox", name="add-a-gender-male", placeholder="upload file")
              | Female.
            label.checkbox-inline
              input#customer(type="checkbox", name="add-a-gender-female", placeholder="upload file")
              | Male.
          .checkbox-row
            b Desiers
            label.checkbox-inline
              input#customer(type="checkbox", name="add-a-customer", placeholder="upload file")
              | Weightloss.
            label.checkbox-inline
              input#customer(type="checkbox", name="add-a-customer", placeholder="upload file")
              | Wealth.
          .checkbox-row
            label.checkbox-inline
              input#customer(type="checkbox", name="add-a-customer", placeholder="upload file")
              | Love.
            label.checkbox-inline
              input#customer(type="checkbox", name="add-a-customer", placeholder="upload file")
              | Law of attration.
            a.target-form-add-circle(href="#0")
              i.fa.fa-plus
        button(type="submit") All done
  
  mixin successItem(dayNum, img)
      .flex-col-1-12.item
        if(img)
          img.img-responsive(src= img, alt="alt")
        else
          span.day-number= dayNum
          
  mixin adLinks
    .a-links-control
      a.target-users(href="#0")
        i.fa.fa-pencil-square-o
      a(href="#0")
        i.fa.fa-link
      a(href="#0")
        i.fa.fa-camera
      a(href="#0")
        i.fa.fa-trash
        
  mixin adPlaceholder
    .flex-col-1-12.a-col
      .a-col-inner
        +adLinks
        a.a-box(href="#0")
          img(src="http://pop.h-cdn.co/assets/15/49/320x320/square-1449266851-economy-cars.jpg", alt="alt", class="img-responsive")
        +targetForm 
  
  - var carPlaceholder = 'http://pop.h-cdn.co/assets/15/49/320x320/square-1449266851-economy-cars.jpg'

  h1.admin-a-title ADVERTISE
  
  // ---------- ADDS ROW ----------
  .admin-a-wrap
    .admin-a-inner
      .flex-grid.admin-a
        - for(var i = 0; i < 32; i++)
          +adPlaceholder
            
        .flex-col-1-12.a-col
          .a-col-inner
            +adLinks
            a.a-box(href="#0")
              img(src="http://pop.h-cdn.co/assets/15/49/320x320/square-1449266851-economy-cars.jpg", alt="alt", class="img-responsive")
            +targetForm
      a(href="#", class="add-a")
          span.add-a-inner
            i.fa.fa-plus
            form.add-a-form.upload-a(action='', method='post')
              .add-a-form-inner
                h3 Upload Ad
                .add-a-form-body
                  input(type='text', name='add-a-edit-link', placeholder='edit link')
                  input(type="file", name="add-a-upload", placeholder="upload file")
                button(type="submit") All done
    // ---------- ADDS ROW ----------
